@use '../abstracts/' as a;

:root {
  // control
  --header-bg-clr: var(--clr-primary);
  --footer-bg-clr: var(--clr-primary);
  --sidebar-bg-clr: var(--clr-neutral-200);
  --body-bg-clr: var(--clr-white);
  --transition-time: 400ms;
  --fnt-sz-default: var(--size-4);
  --fnt-wt-default: 400;
  --fnt-clr-default: var(--clr-black);
  --clr-white: var(--clr-neutral-100);
  --clr-black: var(--clr-neutral-800);
  --default-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  // Set 1 rem = 10px
  font-size: 62.5%;

  --fnt-fam-default: 'Roboto', sans-serif;
  --fnt-wt-thin: 300;
  --fnt-wt-reg: 400;
  --fnt-wt-bold: 700;
  --fnt-wt-heavy: 900;

  // Colours
  --clr-primary: #{a.$rose-500};
  --clr-primary-light: #{a.$rose-400};
  --clr-primary-dark: #{a.$rose-600};
  --clr-primary-xlight: #{a.$rose-200};
  --clr-green-regular: #{a.$emerald-500};
  --clr-green-light: #{a.$emerald-400};
  --clr-green-dark: #{a.$emerald-600};
  --clr-red-regular: #{a.$rose-500};
  --clr-red-light: #{a.$rose-400};
  --clr-red-dark: #{a.$rose-600};
  --clr-orange-regular: #{a.$orange-500};
  --clr-orange-dark: #{a.$orange-600};
  --clr-orange-light: #{a.$orange-400};
  --clr-white: var(--clr-neutral-100);
  --clr-black: var(--clr-neutral-800);
  --clr-neutral-50: #{a.$neutral-50};
  --clr-neutral-100: #{a.$neutral-100};
  --clr-neutral-200: #{a.$neutral-200};
  --clr-neutral-300: #{a.$neutral-300};
  --clr-neutral-400: #{a.$neutral-400};
  --clr-neutral-500: #{a.$neutral-500};
  --clr-neutral-600: #{a.$neutral-600};
  --clr-neutral-700: #{a.$neutral-700};
  --clr-neutral-800: #{a.$neutral-800};
  --clr-neutral-900: #{a.$neutral-900};

  // Sizing
  --size-1: #{a.$size-1};
  --size-2: #{a.$size-2};
  --size-3: #{a.$size-3};
  --size-4: #{a.$size-4};
  --size-5: #{a.$size-5};
  --size-6: #{a.$size-6};
  --size-8: #{a.$size-8};
  --size-52: #{a.$size-52};
  --size-72: #{a.$size-72};
}

body {
  display: grid;
  grid-template-rows: max-content 1fr;
  background: var(--body-bg-clr);
  min-height: 100vh;
  font-family: var(--fnt-fam-default);
  font-size: var(--fnt-sz-default);
  font-weight: var(--fnt-wt-default);
  color: var(--fnt-clr-default);
}
