@use '../abstracts/' as a;

.modal {
  padding: 0;
  width: min(76.8rem, 90vw);
  background: var(--clr-white);
  border: none;
  box-shadow: var(--default-shadow);
  border-radius: var(--size-1);
  &:backdrop {
    background: var(--clr-black);
    opacity: 0.9;
  }
  &-header {
    padding: var(--size-4);
    background: vaR(--clr-primary);
    font-weight: bold;
    color: var(--clr-white);
    font-size: var(--size-5);
  }
  &-form {
    display: grid;
    padding: var(--size-4);
    gap: var(--size-3);

    grid-template-areas: 'title' 'desc' 'prio' 'project' 'date' 'buttons';

    @include a.breakpoint(lg, min) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'title title' 'desc desc' 'prio project' 'date date' 'buttons buttons';
    }

    &-item-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--size-3);
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
  &-button-wrapper {
    grid-area: buttons;
    display: flex;
    justify-content: flex-end;
    gap: var(--size-2);
  }
  &-input {
    padding: var(--size-2);
    width: 100%;
  }
  &-label {
    font-weight: var(--fnt-wt-thin);
    text-transform: uppercase;
    font-size: var(--size-3);
  }
  &-radio {
    width: 0;
    aspect-ratio: 1;
    display: none;
    &-label {
      width: max-content;
      padding: var(--size-2);
      border-radius: var(--size-1);
    }
    &-wrapper {
      display: flex;
      gap: var(--size-1);
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  &-task {
    &-title {
      grid-area: title;
    }
    &-date {
      grid-area: date;
    }
    &-project {
      grid-area: project;
    }
    &-desc {
      grid-area: desc;
      padding: var(--size-2);
    }
    &-prio {
      grid-area: prio;
    }
  }
  &-project {
    &-title {
      grid-area: title;
    }
  }
}
select,
input[type='date'] {
  border: 1px solid var(--clr-neutral-300);
}
::placeholder {
  color: var(--clr-neutral-400);
}

.warning {
  margin: var(--size-4);
  padding: var(--size-2);
  outline: 2px dotted var(--clr-primary);
  font-size: var(--size-3);
  color: var(--clr-primary);
  font-weight: var(--fnt-wt-thin);
}
.invalid {
  outline: 2px solid var(--clr-primary);
}

dialog > p[data-label='form-warning']:empty {
  display: none;
}

// form:invalid #submit {
//   opacity: 0.3;
//   pointer-events: none;
// }
input,
select {
  border-radius: var(--size-1);
}

// input:not(:placeholder-shown):not(:valid) {
//   outline: 1px solid var(--clr-primary-light);
// }

// input:not(:placeholder-shown):not(:valid) {
//   outline: 1px solid var(--clr-primary-light);
// }

input:has(:not(:placeholder-shown):not(:valid)) {
  outline: 1px solid var(--clr-primary-light);
}
