@use '../abstracts/' as a;
.sidebar {
  position: static;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: var(--size-2);
  background: var(--sidebar-bg-clr);
  color: var(--clr-black);
  height: 100%;
  width: var(--size-72);
  padding: var(--size-6);

  transition-duration: 600ms;
  z-index: 100;

  @include a.breakpoint(lg, max) {
    position: absolute;
    transform: translateX(-100%);
  }
  &-hidden {
    transform: translateX(0);
  }
}

.projects {
  &-list {
    display: flex;
    flex-direction: column;
    padding-top: var(--size-2);
  }
  &-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--size-3);
    border-radius: var(--size-1);
    transition-duration: var(--transition-time);
    padding-inline: var(--size-3);
    padding-block: var(--size-3);

    &:hover {
      box-shadow: inset 250px 0 0 0 var(--clr-primary-xlight);
    }
  }
}
